/*Tokyo Night Storm*/

@define-color background #212529;

@define-color back-alt #212529;

@define-color inactive #343a40;

@define-color border #495057;

@define-color foreground #ced4da;

@define-color accent #ced4da;

@define-color pink #ced4da;
@define-color red #ced4da;
@define-color yellow #ced4da;
@define-color green #ced4da;
@define-color blue #ced4da;