/*Tokyo Night Storm*/

@define-color background #282828;

@define-color back-alt #282828;

@define-color inactive #343a40;

@define-color border #495057;

@define-color foreground #d4d4d4;

@define-color accent #d4d4d4;

@define-color pink #d4d4d4;
@define-color red #d4d4d4;
@define-color yellow #d4d4d4;
@define-color green #d4d4d4;
@define-color blue #d4d4d4;