* {

  background:     rgb(24, 24, 37);
  trans-bg:    rgba(24, 24, 37, 0.75);
  trans-main:    rgba(203, 166, 247, 0.55);
  foreground:                 #cdd6f4;
  main:                       #cba6f7;
  red:                        #f38ba8;

  lightfg:                    #6c7086;
  border-color:               #45475a; 
  
  background-color:         transparent;
  
}

