dots.sh
.vscode
scripts/cache/cached_imgs
.back
hyprland/conf/colors.conf
hyprland/profiles/current
hyprland/monitors_profile/current
themes/catppuccin-mocha/fastfetch
themes/catppuccin-mocha/wallpaper
themes/everforest/fastfetch
themes/everforest/wallpaper
themes/nord/wallpaper
themes/rose-pine/wallpaper
themes/rose-pine/fastfetch
themes/tokyo-night/fastfetch
themes/tokyo-night/wallpaper
themes/gruvbox/wallpaper
themes/gruvbox/fastfetch
themes/matugen/fastfetch
themes/matugen/wallpaper
themes/current
waybar/themes/current
