[Desktop Entry]
Name=Info
Comment=Show fastfetch
Exec=sh -c "$HOME/.config/hyprlab/scripts/apps/info.sh"
Icon=utilities-terminal
Terminal=false
NoDisplay=true
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;
