[Desktop Entry]
Name=Open in Neovim 
Comment=Edit files in Neovim terminal
Exec=sh -c "$TERMINAL -e nvim %F"
Icon=utilities-terminal
Terminal=false
NoDisplay=true
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;

