* {

  background:     #161821;
  trans-bg:    rgba(22, 24, 33, 0.7);

  foreground:                 #c6c8d1;
  main:                       #84a0c6;
  red:                        #cc6666;

  lightfg:                    #9CA3AF;
  border-color:               #2A2F3A; 
  
  background-color:         transparent;

}
