@import "../waybar/colors.css";

* {
	background-image: none;
	transition: 10ms;
	border: 0;
	border-color: transparent;
	all: unset;
}

window {
	background-color: alpha(@back-alt, .3);
	border: 0;
	font-size: 14px;
}


button {
	color: @text;
  	font-size:20px;
  	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	background-color: transparent;
	border: 0;
	border-color: transparent;
  	transition: all 400ms cubic-bezier(.47,1.64,.41,.8), background-color 0;	
}

button:focus,
button:active,
button:hover {
	background-color: alpha(@back-alt, .6);
	color: @accent;
	border: 0;
}

#lock {
	background-image: image(url("icons/lock_white.png"));
}



#logout {
	background-image: image(url("icons/logout_white.png"));
}


#shutdown {
	background-image: image(url("icons/shutdown_white.png"));
}


#reboot {
	background-image: image(url("icons/reboot_white.png"));
}



/* #lock:hover,
#lock:active,
#lock:focus {
	background-image: image(url("icons/mantle/lock.svg"));
}

#reboot:hover,
#reboot:active,
#reboot:focus {
	background-image: image(url("icons/mantle/reboot.svg"));
}

#logout:hover,
#logout:active,
#logout:focus {
	background-image: image(url("icons/mantle/logout.svg"));
}

#shutdown:hover,
#shutdown:active,
#shutdown:focus {
	background-image: image(url("icons/mantle/shutdown.svg"));
} */



#reboot,
#lock,
#logout,
#shutdown {
	margin: 10px;
	margin-top: 150px;
	margin-bottom: 150px;
	border-radius: 50px;
	border-color: transparent;
}

#reboot:hover,
#lock:hover,
#logout:hover,
#shutdown:hover,
#reboot:active,
#lock:active,
#logout:active,
#shutdown:active,
#reboot:focus,
#lock:focus,
#logout:focus,
#shutdown:focus {
		border: 0;
		background-color: @accent;
		color: white;
		padding-left: 60px;
		padding-right: 60px;
		transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
		border-color: transparent;		 
}