* {

  background:     #1C1E26;
  trans-bg:    rgba(28, 30, 38, 0.7);

  foreground:                 #D5D8DA;
  main:                       #E95678;
  red:                        #e2204d;

  lightfg:                    #FFFFFF66;
  border-color:               #FFFFFF1A; 
  
  background-color:         transparent;
  
}
