/*Tokyo Night Storm*/

@define-color background #1a1b26;

@define-color back-alt #1a1b26;

@define-color inactive #414868;

@define-color border #565f89;

@define-color foreground #a9b1d6;

@define-color accent #7aa2f7;

@define-color pink #bb9af7;
@define-color red #f7768e;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color blue #7aa2f7;