@import "colors.css";
@import "size.css";

/* =========================
   Global Defaults
========================= */
* {
  margin: 0;
  padding: 0;
  border: 0;

  min-height: 0;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;
}

/* =========================
   Waybar & Tooltip
========================= */
window#waybar {
  background: alpha(@background, 0);
  color: @accent;
  border-radius: 0 0 10px 10px;
  box-shadow: none;
}

tooltip {
  background-color: @background;
  border: 1px solid @border;
  transition: all 200ms ease-out;
}

/* =========================
   Workspaces
========================= */
#workspaces {
  margin: 0 1rem 0 5px;
  padding: 0;
  background-color: transparent;

  transition: all 200ms ease-out;
}

#workspaces button {
  margin: 0 5px;
  padding: 0 2px;

  border-radius: 40px;

  color: @foreground;
  background-color: transparent;
  opacity: 0.6;

  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8), background 0;
}

#workspaces button:not(.empty):not(.active) {
  color: @accent;
}

#workspaces button:not(.empty):not(.active):hover,
#workspaces button:hover {
  min-width: 30px;

  color: @back-alt;
  background-color: @accent;
  opacity: 0.7;
}

#workspaces button.active {
  min-width: 50px;

  color: @back-alt;
  background-color: @accent;
  opacity: 1;
}

/* =========================
   Shared Blocks
========================= */
#right,
#left,
#middle {
  padding: 7px;

  color: @foreground;
  background-color: alpha(@background, 0.75);

  border: 2px solid transparent;
  transition: all 200ms ease-out;
}

/* =========================
   Layout Blocks
========================= */
#left {
  border-radius: 0 0 10px 0;
}

#middle {
  border-radius: 0 0 10px 10px;
}

#right {
  padding-left: 0.6rem;
  border-radius: 0 0 0 10px;
}

#custom-icon {
  margin: 0 1rem 0 0.2rem;
}

/* =========================
   CPU & Memory
========================= */
#cpu.icon,
#memory.icon {
  margin-right: 1px;
  color: @accent;
}

#cpu,
#memory {
  margin: 0 10px 0 2px;
}

/* =========================
   Perfs
========================= */
#perfs {
  margin-left: 1rem;
}

#drawer-perfs {
  margin: 0 10px 0 5px;
}

/* =========================
   Module Spacing
========================= */
#clock,
#tray,
#custom-tray,
#custom-shot,
#custom-media,
#custom-notification,
#custom-exit,
#bluetooth,
#pulseaudio,
#network {
  margin: 0 10px;
}
