* {

  background:     #241b2f;
  trans-bg:    rgba(36, 27, 47, 0.75);
  trans-main:    rgba(255, 113, 206, 0.55);
  foreground:                 #ffffff;
  main:                       #ff71ce;
  red:                        #fe4450;

  lightfg:                    #FFFFFF66;
  border-color:               #2b213a;
  
  background-color:           transparent;
  
}