/*EverForest*/

@define-color background #1E2326;

@define-color back-alt #1E2326;

@define-color inactive #2E383C;

@define-color border #374145;

@define-color foreground #D3C6AA;

@define-color accent #A7C080;

@define-color pink #D699B6;
@define-color red #E67E80;
@define-color yellow #DBBC7F;
@define-color green #83C092;
@define-color blue #7FBBB3;