@define-color background #1e1e2e;

@define-color back-alt #181825;

@define-color inactive #313244;

@define-color border #6c7086;

@define-color foreground #cdd6f4;

@define-color accent #cba6f7;

@define-color pink #cba6f7;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color green #94e2d5;
@define-color blue #89b4fa;


