@import "colors.css";
@import "size.css";

/* =========================
   Global Defaults
========================= */
* {
  margin: 0;
  padding: 0;
  border: 0;

  min-height: 0;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  font-weight: bold;

  animation: none;
  transition-property: color;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
}

/* =========================
   Waybar & Tooltip
========================= */
window#waybar {
  background: alpha(@background, 0);
  color: @foreground;
  border-radius: 0 0 10px 10px;
  box-shadow: none;
}

tooltip {
  background-color: @background;
  border: 1px solid @border;
  transition: all 200ms ease-out;
}

/* =========================
   Base Containers
========================= */
#first,
#utils,
#perfs,
#custom-icon,
#custom-record,
#custom-media,
#workspaces {
  border: 1px solid @border;
  margin: 0px 5px;
  border-radius: 40px;
}

/* =========================
   Workspaces
========================= */
#workspaces:hover {
  border-color: @accent;
}

#workspaces {
  padding: 0;
  background-color: @back-alt;
  transition: all 200ms ease-out;
}

#workspaces button {
  margin: 3px 4px;
  padding: 2px 6px;
  min-width: 15px;
  border-radius: 40px;

  color: transparent;
  background-color: @inactive;

  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8), background 0;
}

#workspaces button:not(.empty):not(.active) {
  color: @accent;
  background: @accent;
  opacity: 0.4;

  transition: all 200ms cubic-bezier(0.47, 1.64, 0.41, 0.8), background 0;
}

#workspaces button:not(.empty):not(.active):hover,
#workspaces button:hover {
  min-width: 30px;

  color: @back-alt;
  background: @accent;
  opacity: 0.7;
}

#workspaces button.active {
  min-width: 50px;

  color: @back-alt;
  background-color: @accent;
}

/* =========================
   Shared Style Blocks
========================= */
#first,
#utils,
#perfs,
#custom-icon,
#custom-media,
#custom-record {
  padding: 0 10px;

  color: @foreground;
  background-color: @back-alt;

  /*border: 2px solid transparent;*/
  transition: all 200ms ease-out;
}

/* =========================
   Individual Blocks
========================= */
#first {
  color: @green;
}

#first:hover {
  border-color: @green;
}

#utils {
  color: @pink;
}

#utils:hover {
  border-color: @pink;
}

#custom-icon {
  color: @accent;
}

#custom-icon:hover {
  border-color: @accent;
}

#window:hover {
  border-color: @green;
}

#perfs {
  color: @yellow;
}

#perfs:hover {
  border-color: @yellow;
}

#custom-media {
  color: @blue;
}

#custom-media:hover {
  border-color: @blue;
}

/* =========================
   CPU & Memory
========================= */
#cpu.icon,
#memory.icon {
  margin-right: 0;
}

/* =========================
   Module Spacing
========================= */
#clock,
#cpu,
#memory,
#window,
#tray,
#custom-tray,
#custom-shot,
#custom-media,
#custom-notification,
#custom-exit,
#bluetooth,
#pulseaudio,
#network,
#custom-clip {
  margin: 0 6px;
}
