/**
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'SF Pro Text bold';

	/* top left corner text */
	--corner-text: 'Midnight';
    

	/* color of status indicators and window controls */
    --online-indicator: #83C092;     /* change to #23a55a for default green */
	--dnd-indicator: #E67E80;                  /* change to #f13f43 for default red */
	--idle-indicator: #DBBC7F;    /* change to #f0b232 for default yellow */
	--streaming-indicator: #D699B6;  /* change to #593695 for default purple */


    --accent: #A7C080;
	--alt-accent: rgba(167, 192, 128, 0.3);

    --accent-new: var(--accent);

	/* accent colors */
    --accent-1: var(--accent);            /* links */
	--accent-2: var(--accent);             /* general unread/mention elements, some icons when active */
	--accent-3: var(--accent);             /* accent buttons */
	--accent-4: var(--accent);      /* accent buttons when hovered */
	--accent-5: var(--accent);   /* accent buttons when clicked */
	--mention:  var(--accent);             /* mentions & mention messages */
	--mention-hover: var(--alt-accent); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #1E2326;               /* text on colored elements */
	--text-1: #D3C6AA;            /* other normally white text */
	--text-5: #4c566a;               /* muted channels/chats and timestamps */
	--text-2: var(--text-1);            /* headings and important text */
	--text-3: var(--text-1);    /* normal text */
	--text-4: var(--text-1);    /* icon buttons and channels */


	/* background and dark colors */
    --bg-1: #2E383C;                             /* dark buttons when clicked */            
	--bg-3: #272E33;               /* spacing, secondary elements */
	--bg-4: #1E2326;    	 /* main background color */
	--bg-2: var(--bg-1);  /* dark buttons */
    --bg-5: var(--bg-1);                         /* main background color */
	--hover: var(--bg-1);                     /* channels and buttons when hovered */
	--active: var(--bg-1);                    /* channels and buttons when clicked or selected */
	--message-hover: var(--bg-1);             /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease;  /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease;  /* moon icon spin */
	--icon-spin-transition: 1s ease;    /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}

/* Selected chat/friend text */
.selected_f5eb4b,
.selected_f6f816 .link_d8bfb3 {
  color: var(--bg-4) !important;
  background: var(--accent-3) !important;
}

.selected_f6f816 .link_d8bfb3 * {
  color: var(--text-0) !important;
  fill: var(--text-0) !important;
}

.sidebar__5e434,.wrapper_ef3116 {
    background: var(--bg-3);
}

.scrollableContainer__74017, 
.channelTextArea_f75fb0, 
.inner__74017,
.buttonsInner__5126c{
    background: var(--bg-3);
}

.container__37e49 {
	background: var(--bg-4);
}

.bannerButton_de8008 > svg > path {
    fill: var(--text-1);
}

.sidebarList__5e434 {
    border-radius: 12px;
}

.subtitleContainer_f75fb0, .chatContent_f75fb0{
    margin-left: 10px;
    margin-right: 10px;
    
}

.searchBar__97492 {
    background-color: var(--bg-3);
    color: var(--text-1);
}

.pill_e5445c > span{
    background: var(--accent);
}

.mentioned__5126c {
	background: var(--alt-accent);
}

.mention {
	background: var(--accent);
	color: var(--bg-3);
}