/*RosePine*/

@define-color background #191724;

@define-color back-alt #191724;

@define-color inactive #26233a;

@define-color border #26233a;

@define-color foreground #e0def4;

@define-color accent #ebbcba;

@define-color pink #c4a7e7;
@define-color red #eb6f92;
@define-color yellow #f6c177;
@define-color green #9ccfd8;
@define-color blue #31748f;