* {

  background:     #1E2326;
  trans-bg:    rgba(30, 35, 38, 0.75);

  foreground:                 #D3C6AA;
  main:                       #A7C080;
  red:                        #E67E80;

  lightfg:                    #9DA9A0;
  border-color:               #374145; 
  
  background-color:         transparent;
  
}
