@import "colors.rasi"
@import "size.rasi"

/* BASE CONFIG :
    @background => Rofi BG
    @trans-bg   => Normal BG with opacity 0.75
    @foreground => text color 
    @main       => Accent Color 
    @lightfg    => lighter text color
*/

configuration {
    modi: "drun,filebrowser,window";
    show-icons: true;

    display-drun:        "󰘳";
    display-window:      "";
    display-filebrowser: " ";

    /*drun-display-format: "{name}";*/
    window-format:              "{w} · {c} · {t}";
}

window {
    transparency:   "real";
    location:       center;
    anchor:         center;
    width: 40%;
    x-offset:       0px;
    y-offset:       0px;

    border-radius:  12px;
    border:         2px 2px 2px 2px 
    solid;
    padding:        0;
    background-color: @trans-bg;

}

mainbox {
    margin: 0;
    padding: 0;
    border:  0;
    spacing: 0;
    orientation: horizontal;
    children: ["listbox"];
}

listbox {
    margin: 0px;
    children: ["inputbar","listview"];
}



listview {
    padding: 10px;
    enabled:                     true;
    columns:                     4;
    lines:                       3;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               false;
    border: 0;
    border-radius: 12px;
    orientation:    vertical;
}

element {
    padding: 10px;
    margin: 5px;
    cursor:  pointer;
    border:  0;
    orientation:    vertical;
}

element normal.normal,
element normal.urgent,
element alternate.normal,
element alternate.urgent {
    background-color: transparent;
    text-color:       @foreground;
}

element alternate.active,
element normal.active {
    background-color: transparent;
    text-color:       @main;
}

element selected.normal,
element selected.urgent,
element selected.active {
    background-color: @trans-main;
    border: 1px solid;
    border-color: @main;
    border-radius: 12px;
    text-color:       @background;
}

element-text {
    horizontal-align: 0.5;
    background-color: transparent;
    text-color:       inherit;
    highlight:        inherit;
    cursor:           inherit;
}

element-icon {
    size:             64px;
    background-color: transparent;
    text-color:       inherit;
    cursor:           inherit;
}

message {
    padding:      1px;
    color: @foreground;
}

textbox {
    text-color: @foreground;
}

inputbar {
    padding: 10px 10px 0 10px;
    background-color: transparent;
    spacing:    0px;
    text-color: @foreground;
    children:   ["entry"];
}

entry {
    vertical-align: 0;
    padding: 5px;
    text-color:        @foreground;
    placeholder:       "  Search";
    placeholder-color: @lightfg;
    cursor:            text;
    spacing:           0;
}
