@import "colors.rasi"
@import "size.rasi"


/*  LIST VERSION THEME :
    @background => Rofi BG
    @trans-bg   => Normal BG with opacity 0.7
    @foreground => text color 
    @main       => Accent Color 
    @lightfg    => lighter text color
*/

configuration {
    show-icons: false;
    window-format:              "{w} · {c} · {t}";
}

window {
    transparency:   "real";
    location:       center;
    anchor:         center;
    width: 15%;
    x-offset:       0px;
    y-offset:       0px;

    border-radius:  12px;
    border: 2px solid;
    padding:        0;

    layout: vertical;

    background-color: @trans-bg; 
    
}

mainbox {
    margin: 0;
    padding: 0;
    border:  0;
    spacing: 0;
    orientation: horizontal;
    children: ["listbox"];
    background-color: transparent;
}

listbox {
    margin: 0;
    children: ["inputbar","message","listview"];
}

listview {
    padding: 10px;
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               false;
    background-color: transparent;
    orientation:    vertical;
}

element {
    background-color: transparent;
    padding: 10px;
    margin: 0px;
    cursor:  pointer;
    border:  0;
    orientation:    vertical;
}

element normal.normal,
element normal.urgent,
element alternate.normal {
    background-color: transparent;
    text-color:       @foreground;
}

element normal.active {
    background-color: transparent;
    color: @main;
    font-weight: bold;
}
element selected.normal,
element selected.urgent,
element selected.active {
    background-color: @trans-main;
    border: 1px solid;
    border-color: @main;
    border-radius: 12px;
    text-color:       @background;
}

element alternate.urgent {
    background-color: transparent;
    text-color:       @main;
}
element alternate.active {
    background-color: transparent;
    text-color:       @main;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    highlight:        inherit;
    cursor:           inherit;
}

element-icon {
    size:             64px;
    background-color: transparent;
    text-color:       inherit;
    cursor:           inherit;
}

message {
    border: 0;
    margin: 2px 20px;
}

textbox {
    text-color: @foreground;
}

inputbar {
    padding: 10px 10px 0 10px;
    background-color: transparent;
    spacing:    0px;
    text-color: @foreground;
    children:   ["prompt", "entry"];
}

prompt {
    vertical-align: 0;
    padding: 5px;
    text-color:        @foreground;
    spacing:           0;
}

entry {
    vertical-align: 0;
    padding: 5px;
    text-color:        @foreground;
    placeholder:       "Search";
    placeholder-color: @lightfg;
    cursor:            text;
    spacing:           0;
}

