@import "colors.rasi"
@import "config.rasi"

* {
    background-color: transparent;
    margin: 0;
    spacing: 0;
}

window {
    width: 80%;
    padding:          5px;
    children:         [inputbar, listview];
}

inputbar {
    spacing: 0.4em;
    padding: 0.4em;
    margin: 0;
    children: [ entry ];
}

entry {
    placeholder: "Search";
}

listview {
    fixed-columns: true;
    margin: 0;
    columns: 7;
    lines: 4;
    spacing: 0.5em;
}

element {
    orientation: vertical;
    padding: 0.1em;
    border-radius: 0.4em;

  children: [element-icon, element-text ];
}

element-icon {
    size: calc(((100% - 8em) / 7 ));
    horizontal-align: 0.5;
    vertical-align: 0.5;
}
element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    padding: 0.2em;
}

element selected {
    border-radius: 0.4em;
}

@media ( enabled: env(THEME, false)) {
  listview {
    lines: 1;
  }
}